.sideBar{
  width: 15%;
  height: 100vh;
  background-color: linear-gradient(to left, #e4eaf1, #c7dcf5, #abcdf8, #8ebefc, #6fafff) !important   ;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-right: black 2px solid ;
}
.optionItem{
  font-size: 20px;
}
.optionItem:hover{
  border: 4px;
  font-weight:bold ;
  border-color: black;
  border-style: solid;
  border-radius: 7px;
  transition: 0.1s;
}

@media only screen and (max-width: 768px) {

  .sideBar{
    width: 20%;
  }

  .optionItem{
    font-size: 14px;
    text-align: left;
  }
  footer{
    font-size: 10px;
  }

}
