



<div class="sideBar py-3 d-flex align-content-between flex-wrap text-left ">
  <header class="m-auto">
    <h2 >LOGO</h2>
  </header>

  <ul class="list-unstyled ">
    <li class="optionItem " >
      <a class="nav-link text-dark" [routerLink]="['/day']" routerLinkActive="active"> Day</a>
    </li>
    <li  class="optionItem" >
      <a class="nav-link text-dark" [routerLink]="['/forecast']"  routerLinkActive="active">5 Days Forecast</a>
    </li>
  </ul>

  <footer class="pl-2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
  </footer>

</div>
