/* You can add global styles to this file, and also import other style files */
body{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: linear-gradient(to left, #e4eaf1, #c7dcf5, #abcdf8, #8ebefc, #6fafff) !important  ;
}
